th.right, td.right {
  text-align: right;
}

.dice {
  box-shadow: inset 0px 0px 6px 1px rgba(0, 0, 0, 0.2), inset -1px -1px 3px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: 1px solid #aaa;
  font-weight: bold;
  background-color: #f44336 !important;
  color: white;
  position: relative;
}

@keyframes dice-roll {
  from {
    color: transparent;
    transform: rotate(-3600deg);
  }
  70% {
    color: transparent;
    transform: rotate(0deg);
  }
  to {
    color: initial;
    transform: rotate(360deg);
  }
}

.dice-roll {
  animation: dice-roll 0.9s ease-out;
}

.dice-blocked {
  background-color: #e57373 !important;
  color: black;
}

.dice-blocked::after {
  content: "";
  display: block;
  background-size: contain;
  background-image: url(/images/lock.svg);
  position: absolute;
  bottom: -3px;
  right: -3px;
  width: 15px;
  height: 15px;
}

.dice[disabled] {
  background-color: #ccc !important;
  color: #444 !important;
}

.last-turn {
  font-weight: 800;
}

.tooltip-trigger {
  display: inline-block;
  text-align: center;
  float: right;
  margin-top: 4px;
  font-size: 10px;
  width: 12px;
  height: 12px;
  font-weight: 800;
  background-color: #333;
  color: white;
  border-radius: 50%;
}

.roll-tooltip.tooltip.in {
  opacity: 1;
}

.roll-tooltip .tooltip-inner {
  border-radius: 10px;
  background-color: #f9f9f9;
  border: 1px solid #bbb;
  box-shadow: 0 0 2px #ccc;
}

.row {
  margin-top: -10px;
}
[class^='col'], [class*=' col'] {
  margin-top: 10px;
}
.navbar-collapse.collapse {
  margin-top: 0;
}
.set-score {
  padding: 0 10px;
  margin: -2px 0;
}
