.dice {
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.2), inset -2px -2px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(240, 240, 240, 1);
  border-radius: 8px;
  border: 1px solid rgba(185, 185, 185, 1);
  font-weight: bold;
}

.btn-toolbar > .btn {
  margin-bottom: 5px;
}
