hr {
  border-color: rgb(32, 90, 32);
}

.visible-print {
  visibility: hidden;
}

@media print {
  body {
    font-size: 12px;
  }

  .hidden-sm {
    display: none !important;
  }
  .hidden-xs {
    display: block !important;
  }
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left !important;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666666666666%;
  }
  .col-sm-10 {
    width: 83.33333333333334%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666666666666%;
  }
  .col-sm-7 {
    width: 58.333333333333336%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666666666667%;
  }
  .col-sm-4 {
    width: 33.33333333333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.666666666666664%;
  }
  .col-sm-1 {
    width: 8.333333333333332%;
  }
  .visible-print {
    visibility: initial;
  }

  html, body, #root {
    height: 100%;
    padding: 0;
  }

  #cv {
    height: 100%;
    padding: 0;
    margin: 0;
    padding-left: 4px;
  }

  #cv:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .right-panel h3 {
    margin-top: 0;
  }
}

.place {
  font-size: large;
}

@media (min-width: 768px), print {
  .row.narrow {
    margin-left: -5px;
    margin-right: -5px;
  }

  .place_and_time {
    text-align: right;
  }

  .left-panel:after, .right-panel:before {
    border-left: 1px solid rgb(32, 90, 32);
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
  }

  .left-panel:after {
    right: 0px;
  }

  .right-panel:before {
    left: -1px;
  }

  .dl-horizontal dt {
    float: left;
    width: 100px;
    overflow: hidden;
    clear: left;
    text-align: right;
  }

  .dl-horizontal dd {
    margin-left: 120px;
  }
}

#picture {
  border-radius: 100%;
  width: 70%;
  max-width: 200px;
  margin: 0 auto;
  display: block;
}


#contact p {
  margin-bottom: 3px;
}

.small-caps {
  font-variant: small-caps;
}

.right-panel {
  text-align: justify;
}

.right-panel h3 {
  border-left: 2px outset rgb(32, 90, 32);
  border-right: 2px inset white;
  border-bottom: 2px inset rgb(32, 90, 32);
  border-top: 2px outset white;
  padding-left: 5px;
  color: rgb(32, 90, 32) !important;
}

.right-panel ul {
  padding-left: 20px;
}
